{ "parser": "babel-eslint",
  "extends": "standard",
  "env": {
    "es6": true,
    "browser": true,
    "mocha": true
  },
  "ecmaFeatures": {
    "modules": true
  },
  "rules": {
    "semi": [2, "always"]
  }
}
